<p>Por país!</p>
<hr>
<div class="row">
    <div class="col">
        <!-- <form action="" autocomplete="off" (ngSubmit)="buscar()">
            <input 
                type="text"
                name="termino"
                placeholder="Busca por país"
                class="form-control"
                [(ngModel)]="termino"
            />
        </form> -->
        <app-pais-input (onEnter)="buscar( $event )"></app-pais-input>
    </div>
</div>
<hr>
<div class="alert alert-danger" *ngIf="hayError">
    No se encontró nada con el termino {{termino}}
</div>
<div class="row" *ngIf="!hayError && paises.length != 0">
    <div class="col">
        <app-pais-tabla [paises]="paises"></app-pais-tabla>
    </div>
</div>