<p>Por país!</p>
<hr>
<div class="row">
    <div class="col">
        <app-pais-input 
            (onEnter)="buscar( $event )" 
            (onDebounce)="sugerencias( $event )"
            placeholder="Buscar por país"
        ></app-pais-input>
    </div>
</div>

    <ul class="list-group" *ngIf="mostrarSugerencias">
        <li class="list-group-item">
            <a class="nav-link" (click)="buscarSugerido(termino)">
                Buscar "{{termino}}"
            </a>
        </li>
        <li *ngFor="let pais of paisesSugeridos" class="list-group-item">
            <a [routerLink]="['pais', pais.altSpellings[0]]" class="nav-link">
                {{pais.name.common}}
            </a>
        </li>
    </ul>

<hr>
<div class="alert alert-danger" *ngIf="hayError">
    No se encontró nada con el termino {{termino}}
</div>
<div class="row" *ngIf="!hayError && paises.length != 0">
    <div class="col">
        <app-pais-tabla [paises]="paises"></app-pais-tabla>
    </div>
</div>